
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --text: #6b6375;
  
  --text-h: #08060d;
  --bg: #000000;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  
}

body {
  font-family: var(--sans);
  color: var(--text);
  background: var(--bg);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerlight, .headerdark{
 height: 100px;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}
.header-title{
  text-align: center;
  align-self: center;
}

.header-title-text-light, .header-title-text-dark{
  font-size: 2rem;
  font-weight: bold;
    font-family: 'Pacifico', cursive;
}

.header-title-text-light{
  color: hsl(0, 0%, 40%);
}
.header-title-text-dark{
  color: hsl(0, 0%, 70%);
}
.header-title-text-light:hover, .header-title-text-dark:hover{
  color: hsl(50, 100%, 40%);
  cursor: pointer;
}

.faMoon{
  color: hsl(0, 0%, 100%);
  color: #800000;
  font-size: 18px;
  position: absolute;
  left: 2px;
  top: 5px;
}

.faZhihu{
  color: hsl(0, 0%, 0%);
  font-size: 22px;
  
}
.faSun{
  color: hsl(50, 100%, 40%);
  font-size: 18px;
  position: absolute;
  right: 2px;
  top: 5px;
}






.header-list{
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.header-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.header-list-item
{
  font-size: 1rem;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.header-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-button-main, .header-button-languages, .header-button, .header-button-dark, .header-button-light{
border-radius: 55px;
margin: 0 10px;
height: 40px;
width: 40px;
border: none;
cursor: pointer;

} 


.header-button-main{
  background-color:transparent;
}

.header-button-dark{
height: 30px;
width: 30px;
background-color: hsl(43, 97%, 50%);
}
.header-button-light{
height: 30px;
width: 30px;
background-color: hsl(0, 100%, 17%);

}
.faMagnifyingGlass{
  font-size: 18px;
  color: hsl(0, 0%, 100%);
  font-weight: bold;

}
.header-list-item-light{
  color: hsl(0, 0%, 70%);
font-family: "Kaushan Script", cursive;

}
.header-list-item-light:hover, .header-list-item-dark:hover{
  color: hsl(50, 100%, 40%);
  font-weight: bold;
}
.header-list-item-dark{
  color: hsl(0, 0%, 0%);
  font-size: 15px;
font-family: "Kaushan Script", cursive;
font-weight: 600;

}

.header-toggle-light{
  height: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 55px;
  width: 60px;
  background-color: transparent;
  display: flex;
  justify-content: end;
  padding: 3px;
  position: relative;
  align-items: center;
}
.header-toggle-light-active{
  justify-content: start;
  border: 1px solid hsl(0, 0%, 0%);
}


.header-button-mode{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  z-index: 1;
}

.header-button-mode-active{
  background-color: hsl(0, 0%, 0%);

}










.main-container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 500px;
}

.main-image{
  height: 500px;
}
.main-text-container{



}
















